[submodule "ODR-AudioEnc"]
	path = ODR-AudioEnc
	url = https://github.com/Opendigitalradio/ODR-AudioEnc.git
[submodule "ODR-DabMod"]
	path = ODR-DabMod
	url = https://github.com/Opendigitalradio/ODR-DabMod.git
[submodule "ODR-DabMux"]
	path = ODR-DabMux
	url = https://github.com/Opendigitalradio/ODR-DabMux.git
[submodule "ODR-PadEnc"]
	path = ODR-PadEnc
	url = https://github.com/Opendigitalradio/ODR-PadEnc.git
[submodule "dablin"]
	path = dablin
	url = https://github.com/Opendigitalradio/dablin.git
